<div class="row delimiter">
  <div class="col-md-6">
    <h4 class="uppercase">We have such actors</h4>
  </div>
</div>
<% for(var i = 0; i < actors.length; i++) {
  locals.actor = actors[i];
%>
<div id="actors">
  <div class="row padding-top-15 padding-bottom-15 bottom-30 <%- i % 2 != 0 ? 'delimiter' : 'white-row' %>">
    <%- partial('../partials/actor') %>
  </div>
</div>
<% } %>
<%- partial('../partials/pagination') %>
