<% for(var i = 0; i < actors.length; i++) {
  locals.actor = actors[i];
%>
<div id="actors">
  <div data-id="<%- actor.id %>"
       class="row padding-top-15 padding-bottom-15 bottom-30 <%- i % 2 != 0 ? 'delimiter' : 'white-row' %>">
    <%- partial('../partials/actor') %>
  </div>
</div>
<% } %>
