<form class="form-inline" action="/slides/create">
  <label for="title">Title</label>
  <input class="form-control" type="text" name="title" id="title">
  <label for="image">image</label>
  <input class="form-control" type="text" name="image" id="image">
  <label for="link">Link</label>
  <input type="text" class="form-control" name="link" id="link">
  <button class="btn btn-primary" type="submit">Create slide</button>
</form>
<br>
<% if (rows.length > 0) { %>
<table class="table table-bordered">
  <thead>
  <tr>
    <!--<th class="th">Id</th>-->
    <th class="th">Title</th>
    <th class="th">Link</th>
    <th class="th">Image</th>
  </tr>
  </thead>
  <tbody>
  <% for(var i = 0; i < rows.length; i++) { %>
  <tr>
    <% for(var j = 0; j < properties.length; j++) { %>
    <td>
      <form class="form-inline" name="attributeUpdate" method="post" action="/slides/update">
        <input type="hidden" name="id" value="<%- rows[i]['id'] %>">
        <input class="form-control" name="<%- properties[j] %>" type="text" value="<%- rows[i][properties[j]] %>">
        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
      </form>
    </td>
    <% } %>
    <td>
      <a href="/slides/destroy/<%- rows[i].id %>" class="btn btn-sm btn-danger">
        <span class="glyphicon glyphicon-erase"></span>
      </a>
    </td>
  </tr>
  <% } %>
  </tbody>
</table>
<% } else { %>
<h2 class="alert-warning">There are no slides yet</h2>
<% } %>
