<!DOCTYPE html>
<html lang="en">
<head>
  <!--STYLES-->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/tooltipster/css/tooltipster.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.css">
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/carousel.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="/myStyles/dashboard.css">
  <link rel="stylesheet" href="/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css">
  <link rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.css">
  <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.css">
  <!--SCRIPTS-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/tooltipster/js/jquery.tooltipster.js"></script>
  <script src="/bower_components/ejs/ejs.js"></script>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/bootstrap-table/dist/bootstrap-table.js"></script>
  <script src="/js/footerController.js"></script>
  <script src="/js/modernizr.js"></script>
  <script src="/js/myCarousel.js"></script>
  <script src="/js/pager.js"></script>
  <!--SCRIPTS END-->
  <script src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
  <script src="/myjs/bootstrap-table-editable.js"></script>
  <script src="/bower_components/select2/dist/js/select2.js"></script>
  <script type="text/javascript">$.fn.editable.defaults.mode = 'inline';</script>
  <title>Dashboard</title>
</head>
<body>
  <div class="container">
    <%- partial('header.ejs')%>
    <div class="container-fluid">
      <div class="row delimiter">
        <div class="col-md-6">
          <h4 class="uppercase">Dashboard</h4>
        </div>
        <div class="col-sm-6 hidden-xs text-right">
          <ol class="breadcrumb">
            <li>
              <a href="/">Home</a>
            </li>
            <li>Dashboard</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <!-- Left column -->
          <a href="/dashboard"><strong><span class="glyphicon glyphicon-wrench"></span> Tools</strong></a>
          <hr>

          <ul class="nav nav-stacked">
            <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Settings <span class="glyphicon glyphicon-chevron-down"></span></a>
              <ul class="nav nav-stacked collapse in" id="userMenu">
                <li> <a href="/dashboard/movies"><span class="glyphicon glyphicon-film"></span> Movies</a></li>
                <li> <a href="/dashboard/actors"><span class="glyphicon glyphicon-star"></span> Actors</a></li>
                <li> <a href="/dashboard/genres"><span class="glyphicon glyphicon-tags"></span> Genres</a></li>
                <li><a href="/dashboard/messages"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                <li><a href="/dashboard/pages"><span class="glyphicon glyphicon-bookmark"></span> Pages</a></li>
                <li><a href="/dashboard/slides"><span class="glyphicon glyphicon-picture"></span> Slides</a></li>
                <li>
                  <a href="/dashboard/polls">
                    <span class="glyphicon glyphicon-stats"></span> Polls
                  </a>
                </li>
                <!--<li><a href="#"><i class="glyphicon glyphicon-user"></i> Users</a></li>-->
              </ul>
            </li>
          </ul>

        </div>
        <div class="col-md-9">
          <%- partial('../partials/flash') %>
          <%- body %>
        </div>
      </div>
    </div>
    <%- partial('footer.ejs') %>
  </div>
</body>
</html>
