<footer>
  <div class="info">
    <div class="container-fluid">
      <div class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3 class="with-border">About</h3>
          <p>
            Site for people that are found of watching movies, serials etc. Of course it won't replace IMDB or others.
            It's just a tool that helps you to remember watched films.
          </p>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3 class="with-border">Contact</h3>
          <ul class="list-unstyled contact">
            <li>
              <p>
                <strong>
                  <span class="glyphicon glyphicon-map-marker"></span>
                  Address:
                </strong>
                Snyatyn, Ukraine, 78300
              </p>
            </li>
            <li>
              <p>
                <strong>
                  <span class="glyphicon glyphicon-envelope"></span>
                  Mail Us:
                </strong>
                <a href="#">vlmromanchuk@yandex.ua</a>
              </p>
            </li>
            <li> <p><strong><span class="glyphicon glyphicon-phone"></span> Phone:</strong> +12 345 6789</p></li>
          </ul>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <h3 class="with-border">Subscribe</h3>
          <p>Subscribe on our latest news</p>
          <form id="subscribeForm" class="form-inline" method="post">
            <div class="form-group">
              <!--<label for="email">Email</label>-->
              <input class="form-control" type="text" name="contactEmail" placeholder="Your email"
                     title="Subscription email">
              <button id="subscribe" type="submit" class="btn btn-primary">Subscribe</button>
              <span id="subscribeAlert" class="label" style="display: none"></span>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container-fluid">
      <p class="pull-left">
        © Created by Vladyslav Romanchuk <%- new Date().getFullYear()%>
      </p>
    </div>
  </div>
</footer>
