<div class="sidebar" id="sidebar">
  <!-- begin sidebar scrollbar -->
  <div class="slimScrollDiv">
      <!-- begin sidebar user -->
      <ul class="nav">
        <li class="nav-profile">
          <div class="image">
            <a href="javascript:;"><img alt="" src="assets/img/user-13.jpg"></a>
          </div>
          <div class="info">
            Sean Ngu
            <small>Front end developer</small>
          </div>
        </li>
      </ul>
      <!-- end sidebar user -->
      <!-- begin sidebar nav -->
      <ul class="nav">
        <!--<li class="nav-header">Navigation</li>-->
        <li class="has-sub active">
          <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="fa fa-laptop"></i>
            <span>Dashboard</span>
          </a>
        <!--</li>-->
        <li class="">
          <a href="javascript:;">
            <i class="glyphicon glyphicon-film"></i>
            <span>Movies</span>
          </a>
        </li>
        <li class="">
          <a href="javascript:;">
            <i class="glyphicon glyphicon-star"></i>
            <span>Actors</span>
          </a>
        </li>
        <li class="">
          <a href="dashboard/genres">
            <i class="glyphicon glyphicon-tags"></i>
            <span>Genres</span>
          </a>
        </li>

        <!-- begin sidebar minify button -->
        <li><a data-click="sidebar-minify" class="sidebar-minify-btn" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
        <!-- end sidebar minify button -->
      </ul>
      <!-- end sidebar nav -->
    </div><div class="slimScrollBar ui-draggable" style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 336.807px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>
  <!-- end sidebar scrollbar -->
