<form name="urlForm" action="xml_handler.php">
  <div class="form-group col-md-3">
    <input class="form-control" type="text" name="url">
  </div>
  <button class="btn btn-lg btn-primary" type="submit">Test xml response</button>
</form>
<div id="xmlBlock"></div>
<script>
  $(document).ready(function () {
    var form = document.forms.urlForm;
    $(form).submit(function (event) {
      event.preventDefault();
      $.get(form.elements['url'].value, {}, function (data) {

      }, 'xml');
    });
  });
</script>

