<div class="row bottom-30 top-30">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="profile">
      <form name="activityForm" action="/users/create">
        <%- partial('../partials/flash') %>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" placeholder="Enter name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" placeholder="Enter email" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword11">Password</label>
          <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword111">Re-Password</label>
          <input type="password" placeholder="Password" name="repeatPassword" class="form-control">
        </div>
        <div class="pull-right">
          <button class="btn btn-theme-dark btn-lg" type="submit">Register</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="/myjs/pages/loginController.js"></script>
